### Решение задач на базовое владение языком python с применением библиотеки pandas

In [120]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
answers = {}

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1283,tt1837703,28000000,8555008,The Fifth Estate,Benedict Cumberbatch|Dan Stevens|Daniel BrÃ¼hl...,Bill Condon,You can't expose the world's secrets without e...,A look at the relationship between WikiLeaks f...,128,Drama|Thriller,DreamWorks SKG|Participant Media|Reliance Ente...,10/11/2013,5.6,2013
1133,tt0159365,79000000,173013509,Cold Mountain,Jude Law|Nicole Kidman|RenÃ©e Zellweger|Eileen...,Anthony Minghella,Find the strength. Find the courage. No matter...,In this classic story of love and devotion set...,154,Drama,Miramax Films|Mirage Enterprises|Castel Film R...,12/24/2003,6.5,2003
1486,tt0445946,25000000,5549200,The Contract,Morgan Freeman|John Cusack|Alice Krige|Megan D...,Bruce Beresford,Every Killer Meets His Equal.,Attempting to recover from a recent family tra...,96,Drama|Action|Thriller|Crime,Nu Image Entertainment|3L Filmverleih,4/5/2006,5.4,2006
1711,tt0389722,30000000,75505973,30 Days of Night,Josh Hartnett|Melissa George|Ben Foster|Danny ...,David Slade,They're Coming!,This is the story of an isolated Alaskan town ...,113,Horror|Thriller,Columbia Pictures|Dark Horse Entertainment|Gho...,10/17/2007,6.1,2007
1600,tt0414852,12000000,9584131,Banlieue 13,David Belle|Cyril Raffaelli|Tony D'Amario|Dany...,Pierre Morel,Welcome to District B13. Welcome to the future,"Set in the ghettos of Paris in 2010, an underc...",84,Action|Thriller|Science Fiction,Canal Plus|TF1 Films Production|EuropaCorp,11/9/2004,6.5,2004

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

#def prof(x,y):
#    return y-x
#data['profit']=data.apply(lambda x: prof(x['budget'], x['revenue']))
#data.sample(5)

data1=data.budget
data2=data.revenue
data['profit']=data2-data1
data.head(5)

# Варинты от менторов
#Если хотите через apply :slightly_smiling_face:
#data = pd.read_csv('movie_bd_v5.csv')
#data['profit'] = data[['revenue','budget']].apply(lambda x: x[0]-x[1], axis=1)
#data (edited) 
#Sergey Meshcheryakov  3 days ago
#Еще вариант
#data = pd.read_csv('movie_bd_v5.csv')
#data['profit'] = data.apply(lambda x: x.revenue - x.budget, axis=1)
#data

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157 Gods and Generals (tt0279111)'

In [10]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '768 Winnie the Pooh (tt1449283)'

In [11]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '110'

In [17]:
data.describe().runtime['mean']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107'

In [19]:
data.describe().runtime['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239 Avatar (tt0499549)'

In [38]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = '1245 The Lone Ranger (tt1210819)'

In [40]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = '1478'

In [41]:
data[data.profit>0]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,tt0171433,30000000,37036004,Keeping the Faith,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,Edward Norton,"If you have to believe in something, you may a...","Best friends since they were kids, Rabbi Jacob...",127,Comedy,Spyglass Entertainment|Touchstone Pictures|Tri...,4/14/2000,5.7,2000,7036004
1875,tt0219854,65000000,69700000,The Kid,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,Jon Turteltaub,Nobody ever grows up quite like they imagined.,Powerful businessman Russ Duritz is self-absor...,104,Fantasy|Comedy|Family,Walt Disney Pictures,7/7/2000,5.9,2000,4700000
1877,tt0199725,20000000,27728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000,7728118
1883,tt0122459,24000000,36609995,Return to Me,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,A comedy straight from the heart,It took a lot of cajoling to get Bob (Duchovny...,115,Romance|Comedy|Drama,Metro-Goldwyn-Mayer (MGM)|JLT Productions,4/7/2000,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
answers['9'] = '599 The Dark Knight (tt0468569)'

In [50]:
data[data.profit==data[data.release_year==2008].profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
answers['10'] = '1245 The Lone Ranger (tt1210819)'

In [54]:
data[data.profit==data[(data.release_year>=2012)&(data.release_year<=2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [20]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [6]:
list_genres = data.genres.tolist()
genres=[]
dict_genres = {}
for i in list_genres:
    genres.append(i.split('|'))

for i in genres:
    for j in i:
        if j in dict_genres:
            dict_genres[j]+=1
        else:
            dict_genres[j]={}
            dict_genres[j]=1

list_dict=list(dict_genres.items())
list_dict.sort(key = lambda i: i[1])
dict_sort= dict(list_dict)
list_dict

[('Foreign', 2),
 ('Documentary', 8),
 ('Western', 19),
 ('War', 58),
 ('History', 62),
 ('Music', 64),
 ('Animation', 139),
 ('Mystery', 168),
 ('Horror', 176),
 ('Fantasy', 222),
 ('Science Fiction', 248),
 ('Family', 260),
 ('Romance', 308),
 ('Crime', 315),
 ('Adventure', 415),
 ('Action', 582),
 ('Thriller', 596),
 ('Comedy', 683),
 ('Drama', 782)]

In [7]:
for i in list_dict:
    for j in range(len(data)):
        if i[0] in str(data.genres[j]):
            data[i[0]][j]=1
        else:
            data[i[0]][j]=0
data.head()
# ПОЧЕМУ ТО ПЕРЕСТАЛО РАБОТАТЬ на 5-й день...

KeyError: 'Foreign'

In [19]:
# ВАРИАНТ 2, подсказка от менторов

string = data.genres.str.cat(sep='|')
divide = pd.Series(string.split('|'))
# Считаем в этом списке(серия) сколько было встреч
divide.value_counts()

19

In [15]:
# вариант 3 от ментора
Counter(data.genres.str.cat(sep='|').split('|'))

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
#answers['12'] = 'Adventure'
answers['12'] = 'Drama'

In [16]:
s_max = 0
s_i=-2
for i in list_dict:
    s = data[data[i[0]]==1].profit.sum()
    if s > s_max:
        s_max = s
        s_i=i[0]
print(s_i,s_max)
# Не работает, так как не работает предыдущий код
# Думаем как....

KeyError: 'Foreign'

In [30]:
sum_=0
ganar=-2
for i in range(len(divide.value_counts())):
    sum_i=0
    for j in range(len(data)):
        if divide.value_counts().index[i] in str(data.genres[j]):
            sum_i+=data.profit[j]
    if sum_i>sum_:
        sum_=sum_i
        ganar=divide.value_counts().index[i]
print(ganar,sum_)

Adventure 86070466981

In [ ]:
# Так как не работает предыдущий код по поиску жанров в строках, придеться используя подсказку менторов
#    по другому дополнить таблицу столбцами жанров. Причем в дальнейшем будет вопрос аналогичной по актерам...
#     что не являеться хорошо, так как таблица становиться очень большой и не понятно как оптимизировать

In [58]:
# Ответ не совпал...
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data1=data.budget
data2=data.revenue
data['profit']=data2-data1

data1=data[data.profit>0]

df= pd.DataFrame()
for index, row in data1.iterrows():
    a=row['genres'].split('|')
    for gan in a:
        df=df.append(row, ignore_index=True)
        df.loc[df.index[-1],'genres']=gan
df

,budget,cast,director,genres,imdb_id,original_title,overview,production_companies,profit,release_date,release_year,revenue,runtime,tagline,vote_average
0,150000000.0,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Action,tt0369610,Jurassic World,Twenty-two years after the events of Jurassic ...,Universal Studios|Amblin Entertainment|Legenda...,1.363529e+09,6/9/2015,2015.0,1.513529e+09,124.0,The park is open.,6.5
1,150000000.0,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Adventure,tt0369610,Jurassic World,Twenty-two years after the events of Jurassic ...,Universal Studios|Amblin Entertainment|Legenda...,1.363529e+09,6/9/2015,2015.0,1.513529e+09,124.0,The park is open.,6.5
2,150000000.0,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Science Fiction,tt0369610,Jurassic World,Twenty-two years after the events of Jurassic ...,Universal Studios|Amblin Entertainment|Legenda...,1.363529e+09,6/9/2015,2015.0,1.513529e+09,124.0,The park is open.,6.5
3,150000000.0,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Thriller,tt0369610,Jurassic World,Twenty-two years after the events of Jurassic ...,Universal Studios|Amblin Entertainment|Legenda...,1.363529e+09,6/9/2015,2015.0,1.513529e+09,124.0,The park is open.,6.5
4,150000000.0,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,Action,tt1392190,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,Village Roadshow Pictures|Kennedy Miller Produ...,2.284364e+08,5/13/2015,2015.0,3.784364e+08,120.0,What a Lovely Day.,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3957,24000000.0,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,Comedy,tt0122459,Return to Me,It took a lot of cajoling to get Bob (Duchovny...,Metro-Goldwyn-Mayer (MGM)|JLT Productions,1.261000e+07,4/7/2000,2000.0,3.661000e+07,115.0,A comedy straight from the heart,5.5
3958,24000000.0,David Duchovny|Minnie Driver|Carroll O'Connor|...,Bonnie Hunt,Drama,tt0122459,Return to Me,It took a lot of cajoling to get Bob (Duchovny...,Metro-Goldwyn-Mayer (MGM)|JLT Productions,1.261000e+07,4/7/2000,2000.0,3.661000e+07,115.0,A comedy straight from the heart,5.5
3959,75000000.0,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Adventure,tt0120903,X-Men,"Two mutants, Rogue and Wolverine, come to a pr...",Twentieth Century Fox Film Corporation|Donners...,8.229972e+07,7/13/2000,2000.0,1.572997e+08,104.0,Evolution Begins,6.6
3960,75000000.0,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Action,tt0120903,X-Men,"Two mutants, Rogue and Wolverine, come to a pr...",Twentieth Century Fox Film Corporation|Donners...,8.229972e+07,7/13/2000,2000.0,1.572997e+08,104.0,Evolution Begins,6.6
3961,75000000.0,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Science Fiction,tt0120903,X-Men,"Two mutants, Rogue and Wolverine, come to a pr...",Twentieth Century Fox Film Corporation|Donners...,8.229972e+07,7/13/2000,2000.0,1.572997e+08,104.0,Evolution Begins,6.6

In [60]:
df.genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [ ]:
answers['13'] = 'Peter Jackson'

In [53]:
data.director.value_counts()

grouped_df = data.groupby(['director'])['profit'].sum().sort_values(ascending=False)
display(grouped_df)

director
Peter Jackson               5202593685
David Yates                 3379295625
Christopher Nolan           3162548502
J.J. Abrams                 2839169916
Michael Bay                 2760938960
                               ...
Walter Hill|Jack Sholder     -75171919
David Bowers|Sam Fell        -84540684
Peter Hyams                  -86956545
Ron Underwood                -92896027
James L. Brooks              -96289726
Name: profit, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [58]:
grouped_df = data.groupby(['director'])['Action'].sum().sort_values(ascending=False)
display(grouped_df)

director
Paul W.S. Anderson               7
Michael Bay                      7
Antoine Fuqua                    6
Robert Rodriguez                 6
Ridley Scott                     6
                                ..
Martin Brest                     0
Mark Waters                      0
Mark Rosman                      0
Mark Romanek                     0
Aaron Seltzer|Jason Friedberg    0
Name: Action, Length: 957, dtype: int64

In [23]:
#answers['14'] = 'Paul W.S. Anderson '# а в ответах такого нет...Сделаем разбивку также как в заданиях 16-17
#другая версия ответа Robert Rodriguez. Изначальная ошибка была связан с тем, что не увидел, что есть фильмы где 
# есть несколько режисеров
answers['14']='Robert Rodriguez'

In [56]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')

df= pd.DataFrame()
for index, row in data.iterrows():
    a=row['genres'].split('|')
    d=row['director'].split('|')
    if 'Action' in a:
        for directors in d:
            df=df.append(row, ignore_index=True)
            df.loc[df.index[-1],'genres']='Action'
            df.loc[df.index[-1],'director']=directors
df

,budget,cast,director,genres,imdb_id,original_title,overview,production_companies,release_date,release_year,revenue,runtime,tagline,vote_average
0,150000000.0,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,Action,tt0369610,Jurassic World,Twenty-two years after the events of Jurassic ...,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,2015.0,1.513529e+09,124.0,The park is open.,6.5
1,150000000.0,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,Action,tt1392190,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,2015.0,3.784364e+08,120.0,What a Lovely Day.,7.1
2,200000000.0,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Action,tt2488496,Star Wars: The Force Awakens,Thirty years after defeating the Galactic Empi...,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,2015.0,2.068178e+09,136.0,Every generation has a story.,7.5
3,190000000.0,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Action,tt2820852,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2015.0,1.506249e+09,137.0,Vengeance Hits Home,7.3
4,155000000.0,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Action,tt1340138,Terminator Genisys,"The year is 2029. John Connor, leader of the r...",Paramount Pictures|Skydance Productions,6/23/2015,2015.0,4.406035e+08,125.0,Reset the future,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,20000000.0,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,Action,tt0199725,Love & Basketball,A young African-American couple navigates the ...,40 Acres & A Mule Filmworks,4/21/2000,2000.0,2.772812e+07,124.0,All's fair in love and basketball.,7.3
619,35000000.0,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,Action,tt0190374,Dungeons & Dragons,The classic role-playing game comes to life in...,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,2000.0,1.518524e+07,107.0,This is no game.,3.9
620,24000000.0,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,Action,tt0217756,Ready to Rumble,Two slacker wrestling fans are devastated by t...,Bel Air Entertainment|Warner Bros.,4/7/2000,2000.0,1.237241e+07,107.0,They're headed to the big time...face first.,4.4
621,75000000.0,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Action,tt0120903,X-Men,"Two mutants, Rogue and Wolverine, come to a pr...",Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2000.0,1.572997e+08,104.0,Evolution Begins,6.6
622,76000000.0,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,Action,tt0131704,The Adventures of Rocky & Bullwinkle,Rocky and Bullwinkle have been living off the ...,Universal Pictures|Capella International|KC Me...,6/30/2000,2000.0,3.513482e+07,88.0,This summer it's not the same old bull.,4.0

In [57]:
df.director.value_counts()

Robert Rodriguez       9
Paul W.S. Anderson     7
Michael Bay            7
Antoine Fuqua          6
Ridley Scott           6
                      ..
Brian Levant           1
Demian Lichtenstein    1
Paul Weitz             1
Bibo Bergeron          1
Boaz Yakin             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = 'Chris Hemsworth'

In [32]:
string_15 = data.cast.str.cat(sep='|')
divide_15 = pd.Series(string_15.split('|'))
# Считаем в этом списке(серия) сколько было встреч
divide_15.value_counts()

Samuel L. Jackson            27
Nicolas Cage                 27
Robert De Niro               26
Matt Damon                   26
Bruce Willis                 25
                             ..
Oliver Reed                   1
Jennifer Schwalbach Smith     1
Steven Culp                   1
JoBeth Williams               1
Christo Jivkov                1
Length: 3406, dtype: int64

In [36]:
max_ = 0
max_ac=-2
for i in range(len(divide_15.value_counts())):
    pr_acter = 0
    acter = divide_15.value_counts().index[i]
    for j in range(len(data)):
        if acter in data.cast[j]:
            if data.release_year[j]==2012:
                pr_acter+=data.profit[j]
    if pr_acter>max_:
        max_=pr_acter
        max_ac=acter
print(max_,max_ac)

1542450773 Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов(больше среднего)?

In [49]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')

In [50]:
data1=data[data.budget>data.budget.mean()]

In [51]:
df= pd.DataFrame()
for index, row in data1.iterrows():
    a=row['cast'].split('|')
    for name in a:
        df=df.append(row, ignore_index=True)
        df.loc[df.index[-1],'cast']=name

In [52]:
df.cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Scott Speedman        1
Harland Williams      1
Gautam Belur          1
Jesse Bradford        1
Burn Gorman           1
Name: cast, Length: 1505, dtype: int64

In [25]:
answers['16'] = 'Matt Damon'# видимо для ТОма Круза это слишком дешевый фильм

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data1=data.budget
data2=data.revenue
data['profit']=data2-data1
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

In [43]:
df= pd.DataFrame()
for index, row in data.iterrows():
    a=row['cast'].split('|')
    ganar=row['genres'].split('|')
    if 'Nicolas Cage' in a:
        for gen in ganar:
            df=df.append(row, ignore_index=True)
            df.loc[df.index[-1],'genres']=gen
            df.loc[df.index[-1],'cast']='Nicolas Cage'            
df.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

In [27]:
answers['17']='Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [38]:
answers['18']=''
data18 = pd.read_csv('movie_bd_v5.csv')
data18['profit']=data18.revenue-data18.budget
data18

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [40]:
# задания делал на другом ПК и сейчас нет доступа, поэтому пишу заново код, хотя стоит отметить, что 
# на сайт я эти ответы вносил(вопросы с 18-24), но данные не сохранились... Для решения 
# будем использовать стиль, который представлен на последние ответы  с использованием split
data18.production_companies = data18.production_companies.apply(lambda x: x.split('|'))
data18

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,"[Universal Studios, Amblin Entertainment, Lege...",6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,"[Village Roadshow Pictures, Kennedy Miller Pro...",5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,"[Summit Entertainment, Mandeville Films, Red W...",3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,"[Lucasfilm, Truenorth Productions, Bad Robot]",12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,"[Universal Pictures, Original Film, Media Righ...",4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,"[Twentieth Century Fox Film Corporation, Donne...",7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,[New Line Cinema],10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,"[Universal Pictures, Capella International, KC...",6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,"[Laurence Mark Productions, Columbia Pictures ...",2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,[Warner Bros. Pictures],7/19/2000,5.2,2000,-9782502

In [41]:
data18=data18.explode('production_companies')
data18

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios,6/9/2015,6.5,2015,1363528810
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Amblin Entertainment,6/9/2015,6.5,2015,1363528810
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Legendary Pictures,6/9/2015,6.5,2015,1363528810
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Fuji Television Network,6/9/2015,6.5,2015,1363528810
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Dentsu,6/9/2015,6.5,2015,1363528810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions,2/16/2000,5.2,2000,-3962091
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Columbia Pictures Corporation,2/16/2000,5.2,2000,-3962091
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Global Entertainment Productions GmbH & Compan...,2/16/2000,5.2,2000,-3962091
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Nora Ephron Productions,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

In [50]:
data18[(data18.production_companies=='Paramount Pictures')].profit.min()
data18[data18.profit==-64831034]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Intermedia Films,7/19/2002,6.0,2002,-64831034
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,National Geographic Society,7/19/2002,6.0,2002,-64831034
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,New Regency Pictures,7/19/2002,6.0,2002,-64831034
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Palomar Pictures (II),7/19/2002,6.0,2002,-64831034

In [51]:
answers['18']='K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [55]:
data19 = pd.read_csv('movie_bd_v5.csv')
data19.groupby(['release_year'])['revenue'].sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

In [ ]:
answers['19']='2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [67]:
data20 = pd.read_csv('movie_bd_v5.csv')
data20['profit']=data20.revenue-data20.budget
data20['production_companies'] = data20.production_companies.apply(lambda x: x.split('|'))
data20 = data20.explode('production_companies')
data20[data20.production_companies.str.match('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values()

release_year
2000     452631386
2006     625351872
2015     870368348
2002    1022709901
2012    1258020056
2001    1282142579
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1844008221
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2292949646
Name: profit, dtype: int64

In [77]:
answers['20']='2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [75]:
data21 = pd.read_csv('movie_bd_v5.csv')
data21.release_date=data21.release_date.apply(lambda x: x.split('/')[0])
data21.release_date.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [78]:
answers['21']='9 или сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [87]:
data22 = pd.read_csv('movie_bd_v5.csv')
data22.release_date =data22.release_date.apply(lambda x: x.split('/')[0])
a6 = data22[data22.release_date=='6'].count()
a7 = data22[data22.release_date=='7'].count()
a8 = data22[data22.release_date=='8'].count()
a=a6[0]+a7[0]+a8[0]
a

450

In [88]:
answers['22']='450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [97]:
data23 = pd.read_csv('movie_bd_v5.csv')
data23.release_date = data23.release_date.apply(lambda x: x.split('/')[0])
data23.release_date = data23.release_date.apply(lambda x: 'winter' if x in ['12','1','2'] else x)
data23.director=data23.director.apply(lambda x: x.split('|'))
data23 = data23.explode('director')
data23[data23.release_date=='winter'].groupby(['director'])['release_date'].count().sort_values()

director
Jon Avnet                1
Matthew Vaughn           1
Matthew O'Callaghan      1
Matt Reeves              1
Matt Bettinelli-Olpin    1
                        ..
Adam Shankman            4
Martin Scorsese          4
Clint Eastwood           6
Steven Soderbergh        6
Peter Jackson            7
Name: release_date, Length: 358, dtype: int64

In [98]:
answers['23']='Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [106]:
data25 = pd.read_csv('movie_bd_v5.csv')
data25.original_title=data25.original_title.apply(lambda x: len(x))
data25.production_companies =data25.production_companies.apply(lambda x: x.split('|'))
data25 = data25.explode('production_companies')
data25.groupby(['production_companies'])['original_title'].mean().sort_values()

production_companies
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: original_title, Length: 1771, dtype: float64

In [107]:
answers['24']='Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [110]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [10]:
# Пример со Slack - очень компактно
data25 = pd.read_csv('movie_bd_v5.csv')
data25['total_words_in_overview'] = data25.overview.apply(lambda x: len(x.split(' ')))
data25['production_companies_list'] = data25['production_companies'].str.split('|')
data25_2 = data25.explode('production_companies_list')
data25_2.groupby(['production_companies_list'])['total_words_in_overview'].mean().sort_values().tail()

production_companies_list
Brookwell-McNamara Entertainment    156.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
Midnight Picture Show               175.0
Name: total_words_in_overview, dtype: float64

In [111]:
df = pd.DataFrame()
for index, row in data.iterrows():
    word = row['overview'].split(' ')
    company = row['production_companies'].split('|')
    for i in company:
        df = df.append(row,ignore_index=True)
        df.loc[df.index[-1],'production_companies'] = i
        df.loc[df.index[-1],'overview']=int(len(word))
        #print(type(len(word)))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6078 entries, 0 to 6077
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                6078 non-null   float64
 1   cast                  6078 non-null   object
 2   director              6078 non-null   object
 3   genres                6078 non-null   object
 4   imdb_id               6078 non-null   object
 5   original_title        6078 non-null   object
 6   overview              6078 non-null   object
 7   production_companies  6078 non-null   object
 8   release_date          6078 non-null   object
 9   release_year          6078 non-null   float64
 10  revenue               6078 non-null   float64
 11  runtime               6078 non-null   float64
 12  tagline               6078 non-null   object
 13  vote_average          6078 non-null   float64
dtypes: float64(5), object(9)
memory usage: 664.9+ KB

In [112]:
df['overview'] = df['overview'].astype(int)
df.groupby(['production_companies'])['overview'].mean().sort_values().tail()

production_companies
Brookwell-McNamara Entertainment    156.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      161.0
Room 9 Entertainment                161.0
Midnight Picture Show               175.0
Name: overview, dtype: float64

In [113]:
answers['25']='Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [23]:
data26 = pd.read_csv('movie_bd_v5.csv')
data26

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [38]:
a= round(len(data.imdb_id)/100)
list_=data26.vote_average.sort_values(ascending=False).index[:(a)].tolist()
len(list_)

19

In [37]:
data26['original_title'][list_]

599                                   The Dark Knight
125                                The Imitation Game
9                                          Inside Out
118                                      Interstellar
34                                               Room
1081    The Lord of the Rings: The Return of the King
138                          The Grand Budapest Hotel
1183                          The Wolf of Wall Street
370                                         Inception
119                           Guardians of the Galaxy
1800                                          Memento
128                                         Gone Girl
872                                       The Pianist
1191                                 12 Years a Slave
283                                        Mr. Nobody
1688                              There Will Be Blood
863             The Lord of the Rings: The Two Towers
155                          The Theory of Everything
1563            Eternal Sunshine of the Spotless Mind
Name: original_title, dtype: object

In [114]:
answers['26']='Inside Out, The Dark Knight, 12 Years a Slave'# судя по ответам - данная комбинация

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [4]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [5]:
list_cast = data.cast.tolist()
cast=[]
dict_cast = {}

for i in list_cast:
    cast.append(i.split('|'))

for i in cast:
    for j in i:
        if j in dict_cast:
            dict_cast[j]+=1
        else:
            dict_cast[j]={}
            dict_cast[j]=1
list_dict=list(dict_cast.items())
list_dict[0][0]
import numpy as np
array = np.zeros((len(list_dict),len(list_dict)))
array

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [7]:
for i in range(len(list_dict)):
    el_i = list_dict[i][0]
    for j in range(i+1,len(list_dict)):
        el_j = list_dict[j][0]
        if el_i!=el_j:
            for index, row in data.iterrows():
                acter = row['cast'].split('|')
                if el_i in acter:
                    if el_j in acter:
                        array[i][j]+=1
array           
# Время рассчета чрезмерно много. Так и не дождался ответа

KeyboardInterrupt:

ВАРИАНТ 2

In [25]:
name = [list_dict[i][0] for i in range(len(list_dict))]
len(name)

3406

In [24]:
from itertools import combinations
a=['a','b','a','c']
data = list(combinations(a, 2))
print(data)
# 12млн комбинаций также не может подсчитать и встроенные библиотеки
# Посоветовали делать комбинации по отельному фильму, а потом среди всего этого многообразия искать повторения пар

[('a', 'b'), ('a', 'a'), ('a', 'c'), ('b', 'a'), ('b', 'c'), ('a', 'c')]

In [53]:
data27 = pd.read_csv('movie_bd_v5.csv')

data27['d_cast'] = data27['cast'].apply(lambda x: x.split('|'))
#data27 = data27.explode('d_cast')
for i in range(len(data27)):
    data27.loc[i,'d_cast'] = list(combinations(data27.d_cast[i],2))
data27
# не хочет список вставить в ячейку, но ниже предложенный кураторами альтернаитива почему то работает

ValueError: cannot set using a multi-index selection indexer with a different length than the value

In [9]:
from itertools import combinations
# Альтернатива предложенная кураторами
data27 = pd.read_csv('movie_bd_v5.csv')
data27.cast = data27.cast.apply(lambda x: list(combinations(sorted(x.split('|')),2)))
data27 = data27.explode('cast')
data27.cast.value_counts()

(Daniel Radcliffe, Emma Watson)           8
(Emma Watson, Rupert Grint)               8
(Daniel Radcliffe, Rupert Grint)          8
(Helena Bonham Carter, Johnny Depp)       6
(Ben Stiller, Owen Wilson)                6
                                         ..
(Amy Ryan, Jeffrey Donovan)               1
(Diane Lane, Scott Glenn)                 1
(Chris Noth, Paul Sanchez)                1
(Jennifer Garner, Matthew McConaughey)    1
(Charlize Theron, Sean Bean)              1
Name: cast, Length: 17943, dtype: int64

In [116]:
answers['27']='Daniel Radcliffe, Rupert Grint'

In [48]:
print(list(combinations(data27.d_cast[0],2)))

[('Chris Pratt', 'Bryce Dallas Howard'), ('Chris Pratt', 'Irrfan Khan'), ('Chris Pratt', "Vincent D'Onofrio"), ('Chris Pratt', 'Nick Robinson'), ('Bryce Dallas Howard', 'Irrfan Khan'), ('Bryce Dallas Howard', "Vincent D'Onofrio"), ('Bryce Dallas Howard', 'Nick Robinson'), ('Irrfan Khan', "Vincent D'Onofrio"), ('Irrfan Khan', 'Nick Robinson'), ("Vincent D'Onofrio", 'Nick Robinson')]

In [56]:
data27.loc[0,'cast']

'Shailene Woodley|Theo James|Kate Winslet|Ansel Elgort|Miles Teller'

# Submission

In [117]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157 Gods and Generals (tt0279111)',
 '3': '768 Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239 Avatar (tt0499549)',
 '7': '1245 The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599 The Dark Knight (tt0468569)',
 '10': '1245 The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '20': '2014',
 '21': '9 или сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}